In [6]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [7]:
df = pd.read_csv('MAIN/main_df.csv')
df.set_index('Date/Time', inplace=True)
df.index = pd.to_datetime(df.index)

df.head()

,Reactive Energy Net,Real Energy Net,Real Power Demand,Efficiency
Date/Time,,,,
2015-01-01 00:15:00,4.338771e+07,6.730210e+07,444.010731,0.608024
2015-01-01 00:30:00,4.338768e+07,6.730192e+07,440.121418,0.608024
2015-01-01 00:45:00,4.338787e+07,6.730213e+07,432.039956,0.608024
2015-01-01 01:00:00,4.338782e+07,6.730214e+07,443.830536,0.608024
2015-01-01 01:15:00,4.338789e+07,6.730225e+07,444.290947,0.608024

In [9]:
temperature = pd.read_excel('MAIN/temperature.xlsx')
avg_energy_stock = pd.read_csv('MAIN/energy.csv')
rockwell_stock = pd.read_csv('MAIN/rokStock (1).csv')

In [10]:
temperature.set_index('Date', inplace=True)
temperature.index = pd.to_datetime(temperature.index)
temperature = temperature[(temperature.index > '2015-01-01') & (temperature.index <= '2016-08-15')]
temperature.columns = ['Max Temp', 'Min Temp', 'Average Temp']
temperature.head()

            Max Temp  Min Temp  Average Temp
Date
2015-01-02        32        17          24.5
2015-01-03        34        28          31.0
2015-01-04        34        -2          16.0
2015-01-05         3        -6          -1.5
2015-01-06        11         1           6.0

In [11]:
del avg_energy_stock['Unnamed: 0']
avg_energy_stock.set_index('Date', inplace=True)
avg_energy_stock.index = pd.to_datetime(avg_energy_stock.index)
avg_energy_stock = avg_energy_stock[(avg_energy_stock.index > '2015-01-01') & (avg_energy_stock.index <= '2016-08-15')]
avg_energy_stock.columns = ['Average Energy Stock']
print(len(avg_energy_stock.index))
avg_energy_stock.head()

592

            Average Energy Stock
Date
2015-01-02             69.214485
2015-01-03             69.214485
2015-01-04             69.214485
2015-01-05             67.161774
2015-01-06             65.742311

In [12]:
rockwell_stock.head()

   Unnamed: 0  Average      Date
0         1.0  111.265  1/2/2015
1         2.0  111.265  1/3/2015
2         3.0  111.265  1/4/2015
3         4.0  108.505  1/5/2015
4         5.0  106.330  1/6/2015

In [13]:
rockwell_stock = rockwell_stock[['Average', 'Date']]
rockwell_stock.set_index('Date', inplace=True)
rockwell_stock.index = pd.to_datetime(rockwell_stock.index)
#rockwell_stock = rockwell_stock[(rockwell_stock.index > '2015-01-01') & (rockwell_stock.index <= '2016-08-15')]
rockwell_stock.columns = ['Average Rockwell Stock']
print(len(rockwell_stock.index))
rockwell_stock.sort_index(inplace=True)

744

In [14]:
s = rockwell_stock[rockwell_stock.index.notnull()]
s.head()

            Average Rockwell Stock
Date
2015-01-01                 111.265
2015-01-02                 111.265
2015-01-03                 111.265
2015-01-04                 111.265
2015-01-05                 108.505

In [542]:
df.head()

,Reactive Energy Net,Real Energy Net,Real Power Demand,Efficiency,Date,Date / Time
Date/Time,,,,,,
2015-01-01 00:15:00,4.338771e+07,6.730210e+07,444.010731,0.608024,2015-01-01,2015-01-01 00:15:00
2015-01-01 00:30:00,4.338768e+07,6.730192e+07,440.121418,0.608024,2015-01-01,2015-01-01 00:30:00
2015-01-01 00:45:00,4.338787e+07,6.730213e+07,432.039956,0.608024,2015-01-01,2015-01-01 00:45:00
2015-01-01 01:00:00,4.338782e+07,6.730214e+07,443.830536,0.608024,2015-01-01,2015-01-01 01:00:00
2015-01-01 01:15:00,4.338789e+07,6.730225e+07,444.290947,0.608024,2015-01-01,2015-01-01 01:15:00

In [543]:
df['Date'] = df.index
df['Date'] = pd.to_datetime(df['Date']).dt.date
df['Date / Time'] = df.index

In [544]:
df.head()

,Reactive Energy Net,Real Energy Net,Real Power Demand,Efficiency,Date,Date / Time
Date/Time,,,,,,
2015-01-01 00:15:00,4.338771e+07,6.730210e+07,444.010731,0.608024,2015-01-01,2015-01-01 00:15:00
2015-01-01 00:30:00,4.338768e+07,6.730192e+07,440.121418,0.608024,2015-01-01,2015-01-01 00:30:00
2015-01-01 00:45:00,4.338787e+07,6.730213e+07,432.039956,0.608024,2015-01-01,2015-01-01 00:45:00
2015-01-01 01:00:00,4.338782e+07,6.730214e+07,443.830536,0.608024,2015-01-01,2015-01-01 01:00:00
2015-01-01 01:15:00,4.338789e+07,6.730225e+07,444.290947,0.608024,2015-01-01,2015-01-01 01:15:00

In [545]:
df['Date'] = pd.to_datetime(df['Date'])

In [546]:
print(len(df.index))
merge = pd.merge(df,temperature, how='inner', left_on='Date', right_on='Date')
print(len(merge.index))
merge = pd.merge(merge,avg_energy_stock, how='inner', left_on='Date', right_on='Date')
print(len(merge.index))
merge = pd.merge(merge,rockwell_stock, how='inner', left_on='Date', right_on='Date')
print(len(merge.index))
merge.set_index('Date / Time', inplace=True)
merge['Date / Time'] = merge.index

56541
56350
56350
56350

In [547]:
merge.head()

,Reactive Energy Net,Real Energy Net,Real Power Demand,Efficiency,Date,Max Temp,Min Temp,Average Temp,Average Energy Stock,Average Rockwell Stock,Date / Time
Date / Time,,,,,,,,,,,
2015-01-02 00:00:00,4.339501e+07,6.731616e+07,559.949107,0.608034,2015-01-02,32,17,24.5,69.214485,111.265,2015-01-02 00:00:00
2015-01-02 00:15:00,4.339510e+07,6.731631e+07,578.149454,0.608034,2015-01-02,32,17,24.5,69.214485,111.265,2015-01-02 00:15:00
2015-01-02 00:30:00,4.339516e+07,6.731671e+07,586.781692,0.608035,2015-01-02,32,17,24.5,69.214485,111.265,2015-01-02 00:30:00
2015-01-02 00:45:00,4.339514e+07,6.731647e+07,576.129999,0.608034,2015-01-02,32,17,24.5,69.214485,111.265,2015-01-02 00:45:00
2015-01-02 01:00:00,4.339523e+07,6.731661e+07,581.922975,0.608034,2015-01-02,32,17,24.5,69.214485,111.265,2015-01-02 01:00:00

In [548]:
electricity_df = pd.read_csv('MAIN/electricityProc.csv')

In [549]:
electricity_df.head()

   Unnamed: 0      Date  High Price  Low Price  Average Price
0         1.0  1/1/2015   40.000000  39.000000      39.500000
1         2.0  1/2/2015   34.916667  33.083333      34.203333
2         3.0  1/3/2015   34.916667  33.083333      34.203333
3         4.0  1/4/2015   34.916667  33.083333      34.203333
4         5.0  1/5/2015   42.125000  39.981250      40.837500

In [550]:
del electricity_df['Unnamed: 0']

In [551]:
electricity_df.head()

       Date  High Price  Low Price  Average Price
0  1/1/2015   40.000000  39.000000      39.500000
1  1/2/2015   34.916667  33.083333      34.203333
2  1/3/2015   34.916667  33.083333      34.203333
3  1/4/2015   34.916667  33.083333      34.203333
4  1/5/2015   42.125000  39.981250      40.837500

In [552]:
electricity_df.set_index('Date', inplace=True)
electricity_df.index = pd.to_datetime(electricity_df.index)
electricity_df.columns = ['High - $ per MwH', 'Low - $ per MwH', 'Average - $ per MwH']
electricity_df = electricity_df[(electricity_df.index > '2015-01-01') & (electricity_df.index <= '2016-08-15')]

In [553]:
electricity_df.head()

            High - $ per MwH  Low - $ per MwH  Average - $ per MwH
Date
2015-01-02         34.916667        33.083333            34.203333
2015-01-03         34.916667        33.083333            34.203333
2015-01-04         34.916667        33.083333            34.203333
2015-01-05         42.125000        39.981250            40.837500
2015-01-06         56.850000        51.250000            54.666667

In [554]:
merge = pd.merge(merge,electricity_df, how='inner', left_on='Date', right_on='Date')

In [555]:
merge.set_index('Date / Time', inplace=True)

In [563]:
merge.head()

,Reactive Energy Net,Real Energy Net,Real Power Demand,Efficiency,Date,Max Temp,Min Temp,Average Temp,Average Energy Stock,Average Rockwell Stock,High - $ per MwH,Low - $ per MwH,Average - $ per MwH
Date / Time,,,,,,,,,,,,,
2015-01-02 00:00:00,4.339501e+07,6.731616e+07,559.949107,0.608034,2015-01-02,32,17,24.5,69.214485,111.265,34.916667,33.083333,34.203333
2015-01-02 00:15:00,4.339510e+07,6.731631e+07,578.149454,0.608034,2015-01-02,32,17,24.5,69.214485,111.265,34.916667,33.083333,34.203333
2015-01-02 00:30:00,4.339516e+07,6.731671e+07,586.781692,0.608035,2015-01-02,32,17,24.5,69.214485,111.265,34.916667,33.083333,34.203333
2015-01-02 00:45:00,4.339514e+07,6.731647e+07,576.129999,0.608034,2015-01-02,32,17,24.5,69.214485,111.265,34.916667,33.083333,34.203333
2015-01-02 01:00:00,4.339523e+07,6.731661e+07,581.922975,0.608034,2015-01-02,32,17,24.5,69.214485,111.265,34.916667,33.083333,34.203333

In [592]:
#merge.describe()

temp = merge.groupby(pd.Grouper(freq="H"))
g = temp['Real Power Demand'].max()

In [593]:
g = g.to_frame()

In [594]:
g.head()

                     Real Power Demand
Date / Time
2015-01-02 00:00:00         586.781692
2015-01-02 01:00:00         586.328062
2015-01-02 02:00:00         584.835233
2015-01-02 03:00:00         599.841264
2015-01-02 04:00:00         723.628769

In [595]:
new_df = pd.merge(g,merge, how='inner', left_on='Date / Time', right_on='Date / Time')

In [597]:
del new_df['Real Power Demand_y']

In [602]:
new_df.rename(columns={'Real Power Demand_x': 'Real Power Demand'}, inplace=True)

In [604]:
new_df.head()

,Real Power Demand,Reactive Energy Net,Real Energy Net,Efficiency,Date,Max Temp,Min Temp,Average Temp,Average Energy Stock,Average Rockwell Stock,High - $ per MwH,Low - $ per MwH,Average - $ per MwH
Date / Time,,,,,,,,,,,,,
2015-01-02 00:00:00,586.781692,4.339501e+07,6.731616e+07,0.608034,2015-01-02,32,17,24.5,69.214485,111.265,34.916667,33.083333,34.203333
2015-01-02 01:00:00,586.328062,4.339523e+07,6.731661e+07,0.608034,2015-01-02,32,17,24.5,69.214485,111.265,34.916667,33.083333,34.203333
2015-01-02 02:00:00,584.835233,4.339573e+07,6.731731e+07,0.608034,2015-01-02,32,17,24.5,69.214485,111.265,34.916667,33.083333,34.203333
2015-01-02 03:00:00,599.841264,4.339607e+07,6.731788e+07,0.608034,2015-01-02,32,17,24.5,69.214485,111.265,34.916667,33.083333,34.203333
2015-01-02 04:00:00,723.628769,4.339637e+07,6.731875e+07,0.608036,2015-01-02,32,17,24.5,69.214485,111.265,34.916667,33.083333,34.203333

In [614]:
#new_df['High - $ per KwH'] = new_df['High - $ per MwH']/1000
#new_df['Low - $ per KwH'] = new_df['Low - $ per MwH']/1000
new_df['Average - $ per KwH'] = new_df['Average - $ Ker MwH']/1000

In [616]:
#del new_df['Average - $ Ker MwH']

In [618]:
new_df.rename(columns={'Real Power Demand': 'Peak Real Power Demand'}, inplace=True)

In [621]:
new_df

,Peak Real Power Demand,Reactive Energy Net,Real Energy Net,Efficiency,Date,Max Temp,Min Temp,Average Temp,Average Energy Stock,Average Rockwell Stock,High - $ per KwH,Low - $ per KwH,Average - $ per KwH
Date / Time,,,,,,,,,,,,,
2015-01-02 00:00:00,586.781692,4.339501e+07,6.731616e+07,0.608034,2015-01-02,32,17,24.5,69.214485,111.2650,0.000035,0.000033,3.420333e-08
2015-01-02 01:00:00,586.328062,4.339523e+07,6.731661e+07,0.608034,2015-01-02,32,17,24.5,69.214485,111.2650,0.000035,0.000033,3.420333e-08
2015-01-02 02:00:00,584.835233,4.339573e+07,6.731731e+07,0.608034,2015-01-02,32,17,24.5,69.214485,111.2650,0.000035,0.000033,3.420333e-08
2015-01-02 03:00:00,599.841264,4.339607e+07,6.731788e+07,0.608034,2015-01-02,32,17,24.5,69.214485,111.2650,0.000035,0.000033,3.420333e-08
2015-01-02 04:00:00,723.628769,4.339637e+07,6.731875e+07,0.608036,2015-01-02,32,17,24.5,69.214485,111.2650,0.000035,0.000033,3.420333e-08
2015-01-02 05:00:00,922.053540,4.339686e+07,6.731972e+07,0.608036,2015-01-02,32,17,24.5,69.214485,111.2650,0.000035,0.000033,3.420333e-08
2015-01-02 06:00:00,1062.028739,4.339726e+07,6.732072e+07,0.608038,2015-01-02,32,17,24.5,69.214485,111.2650,0.000035,0.000033,3.420333e-08
2015-01-02 07:00:00,1114.628803,4.339789e+07,6.732103e+07,0.608035,2015-01-02,32,17,24.5,69.214485,111.2650,0.000035,0.000033,3.420333e-08
2015-01-02 08:00:00,1147.840771,4.339874e+07,6.732291e+07,0.608037,2015-01-02,32,17,24.5,69.214485,111.2650,0.000035,0.000033,3.420333e-08
2015-01-02 09:00:00,1064.556773,4.339923e+07,6.732376e+07,0.608038,2015-01-02,32,17,24.5,69.214485,111.2650,0.000035,0.000033,3.420333e-08
2015-01-02 10:00:00,1006.442224,4.340026e+07,6.732428e+07,0.608034,2015-01-02,32,17,24.5,69.214485,111.2650,0.000035,0.000033,3.420333e-08
2015-01-02 11:00:00,944.785892,4.340082e+07,6.732564e+07,0.608036,2015-01-02,32,17,24.5,69.214485,111.2650,0.000035,0.000033,3.420333e-08
2015-01-02 12:00:00,974.429888,4.340159e+07,6.732597e+07,0.608033,2015-01-02,32,17,24.5,69.214485,111.2650,0.000035,0.000033,3.420333e-08
2015-01-02 13:00:00,976.557528,4.340240e+07,6.732688e+07,0.608031,2015-01-02,32,17,24.5,69.214485,111.2650,0.000035,0.000033,3.420333e-08
2015-01-02 14:00:00,985.360840,4.340339e+07,6.732843e+07,0.608031,2015-01-02,32,17,24.5,69.214485,111.2650,0.000035,0.000033,3.420333e-08
2015-01-02 15:00:00,996.776313,4.340426e+07,6.732878e+07,0.608028,2015-01-02,32,17,24.5,69.214485,111.2650,0.000035,0.000033,3.420333e-08
2015-01-02 16:00:00,905.077308,4.340482e+07,6.732967e+07,0.608028,2015-01-02,32,17,24.5,69.214485,111.2650,0.000035,0.000033,3.420333e-08
2015-01-02 17:00:00,939.377312,4.340547e+07,6.733057e+07,0.608028,2015-01-02,32,17,24.5,69.214485,111.2650,0.000035,0.000033,3.420333e-08
2015-01-02 18:00:00,866.025948,4.340608e+07,6.733160e+07,0.608028,2015-01-02,32,17,24.5,69.214485,111.2650,0.000035,0.000033,3.420333e-08
2015-01-02 19:00:00,751.004726,4.340649e+07,6.733228e+07,0.608028,2015-01-02,32,17,24.5,69.214485,111.2650,0.000035,0.000033,3.420333e-08
2015-01-02 20:00:00,725.093217,4.340694e+07,6.733299e+07,0.608028,2015-01-02,32,17,24.5,69.214485,111.2650,0.000035,0.000033,3.420333e-08
2015-01-02 21:00:00,750.030686,4.340742e+07,6.733370e+07,0.608028,2015-01-02,32,17,24.5,69.214485,111.2650,0.000035,0.000033,3.420333e-08
2015-01-02 22:00:00,731.445330,4.340808e+07,6.733488e+07,0.608029,2015-01-02,32,17,24.5,69.214485,111.2650,0.000035,0.000033,3.420333e-08
2015-01-02 23:00:00,697.618086,4.340836e+07,6.733510e+07,0.608028,2015-01-02,32,17,24.5,69.214485,111.2650,0.000035,0.000033,3.420333e-08
2015-01-03 00:00:00,688.222462,4.340883e+07,6.733577e+07,0.608028,2015-01-03,34,28,31.0,69.214485,111.2650,0.000035,0.000033,3.420333e-08
2015-01-03 01:00:00,667.221521,4.340942e+07,6.733688e+07,0.608028,2015-01-03,34,28,31.0,69.214485,111.2650,0.000035,0.000033,3.420333e-08
2015-01-03 02:00:00,641.993252,4.340961e+07,6.733708e+07,0.608028,2015-01-03,34,28,31.0,69.214485,111.2650,0.000035,0.000033,3.420333e-08
2015-01-03 03:00:00,574.691183,4.340989e+07,6.733766e+07,0.608028,2015-01-03,34,28,31.0,69.214485,111.2650,0.000035,0.000033,3.420333e-08
2015-01-03 04:00:00,569.525806,4.341029e+07,6.733831e+07,0.608029,2015-01-03,34,28,31.0,69.214485,111.2650,0.000035,0.000033,3.420333e-08
2015-01-03 05:00:00,618.343787,4.341057e+07,6.733920e+07,0.608030,2015-01-03,34,28,31.0,69.214485,111.2650,0.000035,0.000033,3.420333e-08
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2016-08-13 19:00:00,645.640984,4.748872e+07,7.688157e+07,0.618167,2016-08-13,86,72,79.0,62.809889,118.2050,0.000050,0.000046,4.777571e-08
2016-08-13 20:00:00,636.546687,4.748906e+07,7.688220e+07,0.618167,2016-08-13,86,72,79.0,62.809889,118.2050,0.000050,0.000046,4.777571e-08
2016-08-13 21:00:00,618.604764,4.748938e+07,7.688282e+07,0.618167,2016-08-13,86,72,79.0,62.809889,118.2050,0.000050,0.000046,4.777571e-08
2016-08-13 22:00:00,605.620435,4.748970e+07,7.688341e+07,0.618167,2016-08-13,86,72,79.0,62.809889,118.2050,0.000050,0.000046,4.777571e-08
2016-08-13 23:00:00,596.757247,4.749002e+07,7.688401e+07,0.618168,2016-08-13,86,72,79.0,62.809889,118.2050,0.000050,0.000046,4.777571e-08
2016-08-14 00:00:00,510.450141,4.749030e+07,7.688452e+07,0.618168,2016-08-14,87,68,77.5,62.809889,118.2050,0.000050,0.000046,4.777571e-08
2016-08-14 01:00:00,469.770936,4.749053e+07,7.688497e+07,0.618168,2016-08-14,87,68,77.5,62.809889,118.2050,0.000050,0.000046,4.777571e-08
2016-08-14 02:00:00,523.053025,4.749078e+07,7.688545e+07,0.618168,2016-08-14,87,68,77.5,62.809889,118.2050,0.000050,0.000046,4.777571e-08
2016-08-14 03:00:00,530.008408,4.749106e+07,7.688596e+07,0.618169,2016-08-14,87,68,77.5,62.809889,118.2050,0.000050,0.000046,4.777571e-08
2016-08-14 04:00:00,518.650071,4.749135e+07,7.688647e+07,0.618169,2016-08-14,87,68,77.5,62.809889,118.2050,0.000050,0.000046,4.777571e-08
2016-08-14 05:00:00,523.117056,4.749163e+07,7.688698e+07,0.618169,2016-08-14,87,68,77.5,62.809889,118.2050,0.000050,0.000046,4.777571e-08
2016-08-14 06:00:00,483.101109,4.749192e+07,7.688747e+07,0.618169,2016-08-14,87,68,77.5,62.809889,118.2050,0.000050,0.000046,4.777571e-08
2016-08-14 07:00:00,483.736898,4.749220e+07,7.688794e+07,0.618169,2016-08-14,87,68,77.5,62.809889,118.2050,0.000050,0.000046,4.777571e-08
2016-08-14 08:00:00,519.443306,4.749249e+07,7.688842e+07,0.618169,2016-08-14,87,68,77.5,62.809889,118.2050,0.000050,0.000046,4.777571e-08
2016-08-14 09:00:00,528.398580,4.749278e+07,7.688893e+07,0.618169,2016-08-14,87,68,77.5,62.809889,118.2050,0.000050,0.000046,4.777571e-08
2016-08-14 10:00:00,521.066517,4.749308e+07,7.688945e+07,0.618169,2016-08-14,87,68,77.5,62.809889,118.2050,0.000050,0.000046,4.777571e-08
2016-08-14 11:00:00,536.285354,4.749338e+07,7.688997e+07,0.618169,2016-08-14,87,68,77.5,62.809889,118.2050,0.000050,0.000046,4.777571e-08
2016-08-14 12:00:00,555.576675,4.749369e+07,7.689050e+07,0.618169,2016-08-14,87,68,77.5,62.809889,118.2050,0.000050,0.000046,4.777571e-08
2016-08-14 13:00:00,568.459683,4.749400e+07,7.689104e+07,0.618170,2016-08-14,87,68,77.5,62.809889,118.2050,0.000050,0.000046,4.777571e-08
2016-08-14 14:00:00,585.495739,4.749432e+07,7.689160e+07,0.618170,2016-08-14,87,68,77.5,62.809889,118.2050,0.000050,0.000046,4.777571e-08
2016-08-14 15:00:00,594.617356,4.749465e+07,7.689219e+07,0.618170,2016-08-14,87,68,77.5,62.809889,118.2050,0.000050,0.000046,4.777571e-08
2016-08-14 16:00:00,589.668083,4.749500e+07,7.689277e+07,0.618170,2016-08-14,87,68,77.5,62.809889,118.2050,0.000050,0.000046,4.777571e-08
2016-08-14 17:00:00,619.726772,4.749535e+07,7.689336e+07,0.618170,2016-08-14,87,68,77.5,62.809889,118.2050,0.000050,0.000046,4.777571e-08
2016-08-14 18:00:00,651.867640,4.749573e+07,7.689396e+07,0.618170,2016-08-14,87,68,77.5,62.809889,118.2050,0.000050,0.000046,4.777571e-08
2016-08-14 19:00:00,611.677545,4.749611e+07,7.689458e+07,0.618170,2016-08-14,87,68,77.5,62.809889,118.2050,0.000050,0.000046,4.777571e-08
2016-08-14 20:00:00,616.531654,4.749646e+07,7.689517e+07,0.618170,2016-08-14,87,68,77.5,62.809889,118.2050,0.000050,0.000046,4.777571e-08
2016-08-14 21:00:00,575.211074,4.749680e+07,7.689574e+07,0.618170,2016-08-14,87,68,77.5,62.809889,118.2050,0.000050,0.000046,4.777571e-08
2016-08-14 22:00:00,609.592865,4.749713e+07,7.689630e+07,0.618170,2016-08-14,87,68,77.5,62.809889,118.2050,0.000050,0.000046,4.777571e-08
2016-08-14 23:00:00,629.433936,4.749745e+07,7.689692e+07,0.618170,2016-08-14,87,68,77.5,62.809889,118.2050,0.000050,0.000046,4.777571e-08
2016-08-15 00:00:00,578.725160,4.749774e+07,7.689749e+07,0.618171,2016-08-15,81,67,74.0,63.398019,118.5437,0.000052,0.000048,4.987667e-08